# Created by https://www.toptal.com/developers/gitignore/api/stylus
# Edit at https://www.toptal.com/developers/gitignore?templates=stylus

### Stylus ###
*.css

# End of https://www.toptal.com/developers/gitignore/api/stylus
